---
interface Props {
  step: number
  desc: string
}
const { step, desc } = Astro.props
---

<li class="flex items-center gap-x-6">
  <p
    class="rounded-full border-2 border-white text-white w-8 h-8 md:w-12 md:h-12 md:text-2xl grid place-content-center"
  >
    {step}
  </p>
  <div class="hidden lg:block">
    <p class="text-Light-gray">STEP {step}</p>
    <p class="text-xl font-[500] text-white">{desc}</p>
  </div>
</li>
