---
import Input from './Input.astro'
---

<main class="flex flex-1 flex-col px-[5%] py-[4%]">
  <h2>Personal info</h2>
  <p>Please provide your name, email address, and phone number.</p>
  <Input name="Name" type="text" place="e.g. Stephen King" />
  <Input name="Email" type="text" place="e.g. Stephen King" />
  <Input name="Phone Number" type="text" place="e.g. Stephen King" />
</main>

